* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#content {
    background: black;
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#header {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
}

#innerbody {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    background: black;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 100vw;
    height: 10vh;
}

.logo {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#social {
    margin: 20px;
    padding: 15px;
}

.socialButton {
    background: black;
    border-style: none;
    margin: 5px;
}

img {
    padding: 9px;
}

#today {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 150px;
    background: gray;
    border-style: none;
    border-radius: 9px;
    color: white;
}


#toDoLists {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20vw;
    height: 80vh;
    flex-wrap: nowrap;
}

#projectContainer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    border-top: solid;
    border-width: thin;
    border-top-color: rgb(62, 61, 61);
    max-height: 80vh;
}

#toDoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: black;
    color: white;
    min-height: 100%;
    min-width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 2 0 auto;
}

#dueDates {
    margin: 30px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color:white;
}


#projectNames {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 150px;
    background: black;
    border-style: none;
    border-radius: 9px;
    color: white;
}

#addProjects:hover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 150px;
    background: gray;
    border-style: none;
    border-radius: 9px;
    color: white;
}

#projectList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 80vh;
}

.lists {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 150px;
    background: black;
    border-style: none;
    border-radius: 9px;
    color: white;
    padding: 5px;
}

.lists:hover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 150px;
    background: gray;
    border-style: none;
    border-radius: 9px;
    color: white;
    padding: 5px;
}


#projectList::-webkit-scrollbar {
    width: 1vw;
}
#projectList::-webkit-scrollbar-track {
    background: black;
    border-radius: 9px;
    
}
#projectList::-webkit-scrollbar-track:hover {
    background: rgb(53, 52, 52);
    border-radius: 9px;
}
#projectList::-webkit-scrollbar-thumb {
    background: rgb(53, 52, 52);
    border-radius: 9px;
}
#projectList::-webkit-scrollbar-thumb:hover {
    background: gray;
    border-radius: 9px;
}

#Lname {
    background:black;
    border-color: rgb(46, 45, 45);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    color: gray;
}

#yesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: blue;
    border-style: none;
    border-radius: 9px;
    height: 30px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

#noList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: black;
    border-style: solid;
    border-color: rgb(46, 45, 45);
    border-radius: 9px;
    height: 30px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}


#itemAdder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#Iname {
    background: black;
    border-color: rgb(46, 45, 45);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    color: gray;
}

#Idescription {
    background: black;
    border-color: rgb(46, 45, 45);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    color: gray;
}

#submit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: blue;
    border-style: none;
    border-radius: 9px;
    height: 30px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

#cancel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: black;
    border-style: solid;
    border-color: rgb(46, 45, 45);
    border-radius: 9px;
    height: 30px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

#toDoAddButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background: black;
    border-style: solid;
    border-color: rgb(46, 45, 45);
    border-radius: 9px;
    color: white;
    font-weight: bold;
    margin: 20px;

}

#toDoAddButton:hover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background: gray;
    border-style: none;
    border-radius: 9px;
    color: white;
    font-weight: bold;
    margin: 20px;

}

#title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    padding: 19px;
    width: 80%;
    border-bottom: thin;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

#toDos { 
    background: black;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#toDos::-webkit-scrollbar {
    width: 1vw;
}
#toDos::-webkit-scrollbar-thumb {
    background: black;
}
#toDos::-webkit-scrollbar-track {
    background: black;
}
#toDos::-webkit-scrollbar-thumb:hover {
    background: gray;
}

#projectTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#list-delete-btn {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: gray;
    border: none;
    color: white;
}
#list-delete-btn:hover{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background: black;
    border: none;
    color: white;
}

#toDoButtonContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
    margin: 5px;
    background: gray;
    border-radius: 5px;
}

#delete-btn {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-style: none;
    background: black;
    color: white;
}

#delete-btn:hover {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-style: none;
    background: red;
    color: black;
}

#cardDate,
#cardDisc,
#cardName {
    min-width: 20%;
}